<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.username">mta</property>
    <property name="connection.password">mta#2017</property>
    <property name="connection.url">jdbc:mysql://10.58.71.227:3306/MTA?useUnicode=yes&amp;characterEncoding=UTF-8</property>
    <!--        <property name="dialect">com.viettel.common.database.BaseHibernateDialect</property>-->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.connection.defaultNChar">true</property>
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <property name="c3p0.acquire_increment">1</property>
    <property name="c3p0.idle_test_period">100</property>
    <property name="c3p0.max_size">100</property>
    <property name="c3p0.max_statements">0</property>
    <property name="c3p0.min_size">5</property>
    <property name="c3p0.timeout">1000</property>
    <!-- admin end -->
    <!-- danh mục start-->
    <!-- danh mục end-->
  </session-factory>
</hibernate-configuration>
